# Системные файлы и папки
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/
env/

# Конфигурации PyCharm и других IDE
.idea/
*.vscode/

# Конфиденциальные данные
*.env

# База данных (если используется локальная SQLite для тестирования)
*.sqlite3
db.sqlite3

# Логи
*.log

# Миграции (если вам нужно игнорировать миграции, но обычно их стоит отслеживать)
# **/migrations/*

# Статика и медиафайлы
staticfiles/
media/
